{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .posts {
            width: 80%;
            margin-left: 10%;
            display: flex;
            justify-content: space-between;
        }
    </style>
    <div class="posts">
        {% for post in post %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-title">{{ post.rate }}</h6>
                        {% for hashtag in post.hashtags.all %}
                            <a href="#" class="btn btn-primary">#{{ hashtag.title }}</a>
                        {% endfor %}
{#                        {% for hashtag in post.hashtags.all %}#}
{#                            <a href="#" class="btn btn-primary">#{{ hashtag.title }}</a>#}
{#                        {% endfor %}#}
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}